---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$grad1: #8e54e9;
$grad2: #4776e6;
$decorate: hsla(190, 100%, 50%, 1);

$elementSize: (
  menu-button-width: 30px,
  menu-button-height: 20px,
  menu-button-bar: 2px,
  tag-button-size: 30px
);


// Import partials from `sass_dir` (default as `_sass`)
@import
  "fonts",
  "mixins",
  "functions",
  "shared",
  "index",
  "index-menu"
;

