---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: Quattrocento Sans;
  src: url(/fonts/quattrocento/QuattrocentoSans-Regular.ttf);
}

@font-face {
  font-family: Lato;
  src: url(/fonts/lato/Lato-Regular.woff);
}

@font-face {
  font-family: Daville;
  src: url(/fonts/daville/Daville-Condensed-Slanted.ttf);
}


// Our variables
$durationMulti: 1;

$elementSize: (
  menu-button-width: 30px,
  menu-button-height: 20px,
  menu-button-bar: 2px,
  tag-button-size: 32px
);

$fontColor: (
  
);
$bgColor: (
  body: #fff,
  cover: rgba(30, 30, 30, 1),
  showcase: rgba(30, 30, 30, 1)
);


// Import partials from `sass_dir` (default as `_sass`)
@import
  "helpers",

  "mixins",
  "functions",
  "shared",
  "extend"
;

