---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: Quattrocento Sans;
  src: url(/fonts/quattrocento/QuattrocentoSans-Regular.ttf);
}

@font-face {
  font-family: Lato;
  src: url(/fonts/lato/Lato-Regular.woff);
}

@font-face {
  font-family: Daville;
  src: url(/fonts/daville/Daville-Condensed-Slanted.ttf);
}


// Our variables
$durationMulti: 1;

$sideWidth: 0.18;
$poolWidth: 0.12;
$elementSize: (
  nav-width: percentage($sideWidth),
  board-content-width: percentage(1 - $sideWidth),
  nav-menu-item-font: 1.2rem,
  nav-menu-item-line: 3,
  tag-pool-width: percentage($poolWidth),
  tag-item-font: 1rem,
  tag-item-line: 3,
  article-pool-width: percentage(1 - $poolWidth),
  article-list-width: 86%,
  article-item-width: 100%,
  article-item-height: 9rem
);

$fontColor: (
  body: #fff,
  nav-menu: hsla(186, 75%, 50%, 0.4),
  nav-menu-hover: rgba(245, 147, 147, 0.9),
  tag-button: rgba(255, 255, 255, 0.9),
  tag-button-hover: rgba(245, 147, 147, 0.9),
  article-title: rgba(80, 80, 80, 0.9),
  article-title-hover: rgba(50, 50, 50, 1)
);
$bgColor: (
  body: rgba(12, 10, 30, 1),
  nav: rgba(40, 40, 40, 0.1),
  slider: rgba(0, 0, 0, 0.15),
  article-item: linear-gradient(100deg, rgba(50, 50, 55, 0.3) 10%, rgba(0, 0, 0, 0) 100%)
);
$borderColor: (
  nav-menu: linear-gradient(to right, hsl(220, 100%, 60%) 0%, hsl(10, 100%, 60%) 100%),
  nav-menu-item: rgba(0, 0, 0, 0.2),
  article-shortcut: rgba(0, 0, 0, 1)
);


// Import partials from `sass_dir` (default as `_sass`)
@import
  "helpers",
  
  "mixins",
  "functions",
  "shared",
  "sidebar",
  "items_tag",
  "items_article"
;

