
$color-default: #333;
$color-primary: #2A8FBD;
$color-success: #7FAF1B;
$color-warning: #FBB829;
$color-danger: #F02311;
$color-info: #6CDFEA;

$b: 0.075;
$gloss:
  
  repeating-linear-gradient(-45deg, 
    
    rgba(white, 0) 8%,
    rgba(white, $b) 10%,
    rgba(white, $b) 14%,

    rgba(white, $b*2) 14%,
    rgba(white, $b*2) 15%,
    rgba(white, $b) 17%,
    rgba(white, 0) 30%,


    rgba(white, 0) 36%,
    rgba(white, $b) 40%,
    rgba(white, $b*2) 42%,
    rgba(white, 0) 43%,


    rgba(white, 0) 55%,
    rgba(white, $b) 60%,
    rgba(white, $b) 66%,

    rgba(white, $b*2) 66%,
    rgba(white, $b) 70%,
    rgba(white, 0) 75%);


.page-bottom-nav {
  width: 100%;
  border: medium solid rgba(0,0,0,0);
  box-sizing : border-box;
  box-shadow: 0 1ex 1em rgba(black, 0.3);
  position: relative;
  z-index: 1;
}

nav.btn-bar {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@mixin glass() {
  
  flex-grow: 1;
  display: inline-block;
  padding: 1em 2em;
  font-family: Lato;
  font-weight: 600;
  border: thin dotted rgba(0,0,0,0);
  background-attachment: fixed, scroll;
  background-size: 100vw 100vh, cover;
  background-position: 0 0, 0 0;
  background-image: $gloss, 
    radial-gradient(ellipse farthest-corner, transparent, rgba(black, 0.2) 110%);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.98pt;
  
}

@mixin glass-transition() {
  
  transition: background-position 2s cubic-bezier(0,1,0,1),
    border-color 500ms,
    background-color 500ms;
  
  &:hover {
    background-position: -100vw 0, 0 0;
  }

  &:active {
    background-position: -75vw 0, 0 0;
    border-style: solid;
  }
  
}

.btn-prev {
  @include glass() {}
  @include glass-transition() {}
}
.btn-none {
  @include glass() {}
}
.btn-next {
  @include glass() {}
  @include glass-transition() {}
}

@mixin colorize-light($color) {
  
  color: mix($color, black, 80%);
  background-color: rgba($color, 0);
  &:hover {
    color: rgba(white, 0.9);
    border-color: darken($color, 15%);
    background-color: rgba($color, 1);;
  }
  &:active {
    box-shadow: 0 0 1em 0.5ex rgba($color, 0.5);
  }
  
}

.nav-light {
  .btn-prev { @include colorize-light($color-default) {} }
  .btn-next { @include colorize-light($color-default) {} }
}

