/**
 * Home
 */
.page-content-margin {
    margin-top: 48vh;
    height: 1em;
    position: relative;
    background: white;
    box-shadow: 0 -1ex 1em rgba(0,0,0,0.3);
    z-index: 1;
}

.post-list {
    list-style: none;
    position: relative;
    z-index: 1;

    > li {
        margin: 0;
        padding: 0;
        width: 100%;
        height: $post-list-item-height;
        border-bottom: thin solid rgba(0,0,0,0.1);
        position: relative;
        text-align: center;
        overflow: hidden;
        
        .post-list-item-wrapper {
            display: inline-block;
            margin-top: -$post-list-item-content-height/2;
            margin-left: -$post-list-item-content-width/2;
            width: $post-list-item-content-width;
            height: $post-list-item-content-height;
            box-sizing : border-box;
            border: $post-list-item-content-border solid rgba(0,0,0,0);
            border-radius: 1.5em;
            position: absolute;
            top: 50%;
            left: 50%;
            background: white;
            background-clip: padding-box;
            box-shadow: 0 0 0 10000px white;
        }
    }
}

.post-link {
    
}

.post-meta {
    
}
