/**
 * Site header
 */
.site-banner {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  overflow: hidden;
  z-index: 0;
  
  -webkit-animation: 12s ease infinite gradient-animation;
  -moz-animation: 12s ease infinite gradient-animation;
  animation: 12s ease infinite gradient-animation;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
  animation: 6s ease infinite canvas-animation;
}

@keyframes canvas-animation {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}



/**
 * Site footer
 */
.site-footer {
  width: 100%;
  height: 30rem;
  position: relative;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}



/**
 * Page Content
 */

