/**
 * Site header
 */
.site-banner {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: 12s ease infinite gradient-animation;
    -moz-animation: 12s ease infinite gradient-animation;
    animation: 12s ease infinite gradient-animation;
    overflow: hidden;
}

@-webkit-keyframes gradient-animation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradient-animation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}



/**
 * Site footer
 */
.site-footer {
    width: 100%;
    height: 30rem;
    position: relative;
    background: rgba(0,0,0,0.4);
}



/**
 * Page Content
 */

