
body {
  overflow: hidden;
}

#layer {
  width: 100%;
  height: 100%;
  position: absolute;
}

$left: 40%;
$stripe-color: hsla(0, 0%, 25%, 0.2);
#cover {
  transform: skewX(-10deg);
  width: 100%;
  height: 100%;
  border-left: thin solid hsla(0, 0%, 80%, 1);
  position: absolute;
  left: $left;
  overflow: hidden;

  .stripes {
    transform: skewX(10deg);
    width: 200%;
    height: 100%;
    background-color: hsla(0, 0%, 10%, 0);
    background-image: linear-gradient(-45deg, $stripe-color 5.56%, transparent 5.56%, transparent 50%, $stripe-color 50%, $stripe-color 55.56%, transparent 55.56%, transparent 100%);
    background-size: 11px 11px;
    position: absolute;
    left: -50%;
  }

  &::after {
    content: '';
    width: 100%;
    height: 200%;
    // box-shadow: 0px 0px 0.5rem 0.1rem black inset;
    position: absolute;
    top: -50%;
  }
}

$size: 70%;
.flat-button {
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.tag-button {
  top: (100% - $size) / 2 + $size;
  margin: -(elementSize(tag-button-size) + 4px) 32px;
  width: elementSize(tag-button-size);
  height: elementSize(tag-button-size);
  background-image: url("/images/icon/tags.svg");
  background-repeat: no-repeat;
}

.menu-button {
  top: (100% - $size) / 2;
  margin: 8px 32px;
  width: elementSize(menu-button-width);
  height: elementSize(menu-button-height);
}

.menu-button::before,
.menu-button::after,
.menu-button span {
	background: #5f656f;
}

.menu-button::before,
.menu-button::after {
	content: '';
	position: absolute;
	top: 50%;
	width: 100%;
	height: elementSize(menu-button-bar);
	pointer-events: none;
	transition: transform 0.25s;
	transform-origin: 50% 50%;
}

.menu-button span {
	position: absolute;
	text-indent: 100%;
	width: 100%;
	height: elementSize(menu-button-bar);
	overflow: hidden;
	transition: opacity 0.25s;
}

.menu-button::before {
	transform: translate3d(0, -(elementSize(menu-button-height) / 2), 0) scale3d(0.8, 1, 1);
}

.menu-button::after {
	transform: translate3d(0, (elementSize(menu-button-height) / 2), 0) scale3d(0.8, 1, 1);
}

.menu-button--open::before {
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button--open::after {
	transform: rotate3d(0, 0, 1, -45deg);
}

.menu-button--open span {
	opacity: 0;
}

#groove {
  transform-origin: 100% 50%;
  width: $size;
  height: $size;
  background-color: hsla(0, 0%, 10%, 0);
  position: absolute;
  top: (100% - $size) / 2;
  left: (100% - $size) / 2;
}

.menu-wrapper {
  font-family: Lato;
  width: 40%;
  position: absolute;
  top: 10%;
  left: -10%;
  -webkit-mask: linear-gradient(135deg, black 60%, transparent 80%);

  h1 {
    line-height: 1;
    margin-top: 0;
    padding: 1rem 3rem;
    background-image: linear-gradient(100deg, #4776e6, #8e54e9 50%);
    border-top: thin solid hsla(0, 0%, 50%, 1);
    border-bottom: thin solid hsla(0, 0%, 50%, 1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.articles-wrapper {
  width: 60%;
  height: 100%;
  position: absolute;
  left: 55%;
}

$article-height: 7rem;
$count: 4;
#articles {
  list-style-type: none;
  width: 120%;
  max-height: $article-height * $count + $article-height / 2 * $count;
  position: absolute;
  top: -10%;
  overflow: hidden;
}

.article {
  margin: ($article-height / 2) 0;
  width: 100%;
  height: 7rem;
  background-image: linear-gradient(-45deg, #4776e6, #8e54e9 50%);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  opacity: 0.5;
  -webkit-mask: linear-gradient(45deg, transparent 3%, black 3%);

  .article-title {
    font-family: Daville;
    color: hsla(0, 0%, 0%, 1);
    margin: 1rem 2rem;
  }
}

#social {
  margin: -3% -15%;
  position: absolute;
  top: 100%;
  left: 100%;

  span {
    display: none;
  }
}

.link--social {
	font-size: 1.5rem;
  color: #4f4f64;
	margin: 0 0.75em;
}

.link--social:hover,
.link--social:focus {
	color: #5c5edc;
}
