
@font-face {
  font-family: Lato;
  src: url(/fonts/lato/Lato-Regular.woff);
}

@font-face {
  font-family: Daville;
  src: url(/fonts/daville/Daville-Condensed-Slanted.ttf);
}

@font-face {
  font-family: Helvetica;
  src: url(/fonts/helvetica/Helvetica-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Proxima Nova;
  src: url(/fonts/proximanova/Proxima-Nova-Regular.ttf);
}

@font-face {
  font-family: Monda;
  src: url(/fonts/monda/Monda-Regular.ttf);
}
