
.helper {
  display: none;
}

#helper-slider1 {
  width: 50vw;
  height: 2rem;
  position: fixed;
  top: 1rem;
  left: 50vw;
  z-index: 100;
}

.helper-TTT {
  width: 1rem;
  height: 1rem;
  background-color: cyan; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

