
body {
  overflow: hidden;
}

#layer {
  width: 100%;
  height: 100%;
  position: absolute;
}

canvas {
  transform: scale3d(1.2, 1.2, 1);
  position: absolute;
  top: 18%;
  left: 18%;
  transition: -webkit-filter 0.5s;
}

.blur {
  filter: blur(0.3rem);
}

.fade {
  filter: blur(10rem);
  pointer-events: none;
}

.clear {
  filter: blur(0);
}

.no-interact {
  pointer-events: none;
}

$left: 40%;
$stripe-color: hsla(0, 0%, 25%, 0.2);
#cover {
  transform: skewX(-10deg);
  width: 100%;
  height: 100%;
  border-left: thin solid hsla(0, 0%, 80%, 1);
  position: absolute;
  left: $left;
  overflow: hidden;

  .stripes {
    transform: skewX(10deg);
    width: 200%;
    height: 100%;
    background: linear-gradient(-45deg, $stripe-color 5.56%, transparent 5.56%, transparent 50%, $stripe-color 50%, $stripe-color 55.56%, transparent 55.56%, transparent 100%);
    background-size: 11px 11px;
    position: absolute;
    left: -50%;
  }
}

$size: 70%;
.edge-button {
  position: absolute;

  &:first-child {
    top: (100% - $size) / 2;
  }
  &:last-child {
    top: (100% - $size) / 2 + $size;
    margin: (elementSize(tag-button-size) * -1 - 6px) 0;
  }
}

.flat-button {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.tag-button {
  margin: 0 32px;
  z-index: 10;

  svg {
    fill: #5f656f;
    stroke: #5f656f;
    stroke-width: 10;
    width: elementSize(tag-button-size);
    height: elementSize(tag-button-size);
  }
}

.tags {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0.5rem 6rem;
  width: 30%;
  height: 12rem;
  background: white;
  border-top: thin dashed hsla(0, 0%, 65%, 1);
  border-bottom: thin dashed hsla(0, 0%, 65%, 1);
  position: absolute;
  top: 700px;
  left: -30%;
  z-index: 5;
  -webkit-mask: linear-gradient(90deg, black 80%, transparent 100%);
  transition: left 0.25s;
}
.tags--open {
  left: 0;
}
.tags .tag--open {
  opacity: 1;
  top: 0;
}
.tag {
  font-family: Daville;
  font-size: 0.9rem;
  color: hsla(190, 100%, 40%, 0.9);
  margin: 1.8rem 1rem;
  padding: 0.25rem 1rem;
  background: hsla(0, 0%, 0%, 0.1) padding-box;
  border-radius: 10rem;
  top: 0.5rem;
  box-shadow: 0 0 0.5rem 0.3rem white inset;
  opacity: 0;
  transition: top 0.5s, opacity 1s, box-shadow 0.25s;

  &::before {
    content: '# ';
    font-weight: bold;
    color: hsla(0, 0%, 65%, 1);
  }

  &::after {
    content: '';
    display: inline-block;
    width: 14%;
    border-bottom: thin solid darken($decorate, 10%);
    position: absolute;
    top: 110%;
    left: 43%;
    box-shadow: 0 0 0.5rem 0 $decorate;
    transition: width 0.25s, top 0.25s, left 0.25s, box-shadow 0.25s;
  }

  &:hover {
    box-shadow: 0 0 0.125rem 1px hsla(0, 0%, 0%, 0.2) inset;

    &::after {
      width: 40%;
      top: 120%;
      left: 30%;
    }
  }
  &:active {
    box-shadow: 0 0 0.125rem 2px hsla(0, 0%, 0%, 0.2) inset;
  }
}
.tag--selected {
  &::after {
    border-bottom-color: $decorate;
    box-shadow: 0 0 0.5rem 1px $decorate;
  }
}

.menu-button {
  margin: 8px 32px;
  width: elementSize(menu-button-width);
  height: elementSize(menu-button-height);
}

.menu-button::before,
.menu-button::after,
.menu-button span {
  margin-left: elementSize(menu-button-width) * -0.5;
	background: #5f656f;
}

.menu-button::before,
.menu-button::after {
	content: '';
	position: absolute;
	top: 50%;
	width: 100%;
	height: elementSize(menu-button-bar);
	pointer-events: none;
	transition: transform 0.25s;
	transform-origin: 50% 50%;
}

.menu-button span {
	position: absolute;
	text-indent: 100%;
	width: 100%;
	height: elementSize(menu-button-bar);
	overflow: hidden;
	transition: opacity 0.25s;
}

.menu-button::before {
	transform: translate3d(0, -(elementSize(menu-button-height) / 2), 0) scale3d(0.8, 1, 1);
}

.menu-button::after {
	transform: translate3d(0, (elementSize(menu-button-height) / 2), 0) scale3d(0.8, 1, 1);
}

.menu-button--open::before {
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button--open::after {
	transform: rotate3d(0, 0, 1, -45deg);
}

.menu-button--open span {
	opacity: 0;
}

#groove {
  width: $size;
  height: $size;
  position: absolute;
  top: (100% - $size) / 2;
  left: (100% - $size) / 2;
}

.menu-wrapper {
  font-family: Monda;
  font-size: 0.9rem;
  width: 45%;
  // width: 85%;
  position: absolute;
  top: 5%;
  left: -5%;
  z-index: 5;
  transition: -webkit-filter 1s;
  transform-origin: 50% 50%;

  h1 {
    font-family: Monda;
    font-size: 2.1rem;
    line-height: 1;
    text-align: right;
    margin-top: 0;
    padding: 0.5rem 0 0.4rem 0;
    width: 100%;
    background: linear-gradient(-45deg, $stripe-color 5.56%, transparent 5.56%, transparent 50%, $stripe-color 50%, $stripe-color 55.56%, transparent 55.56%, transparent 100%), linear-gradient(180deg, $grad1, $grad2 100%);
    background-size: 11px 11px, 100% 100%;
    border-bottom: thin solid hsla(0, 0%, 50%, 1);
    position: absolute;
    left: -115%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-mask: linear-gradient(-135deg, black 60%, transparent 80%);
    opacity: 0.9;
    transform-origin: 100% 0%;
    transform: rotate3d(0, 0, 1, -90deg);
    pointer-events: none;
  }

  &::before {
    content: '';
    display: inline-block;
    transform-origin: 0% 0%;
    transform: skewY(-45deg);
    width: 0.25rem;
    height: 15rem;
    background: linear-gradient(hsla(0, 0%, 60%, 1), $decorate);
    position: absolute;
    left: -6.5%;
  }

  .menu-item {
    cursor: default;
    display: block;
    color: hsla(0, 0%, 0%, 0.45);
    padding: 2.5rem 0;
    border-radius: 0.75rem;
    transition: background 0.25s;
    // background: linear-gradient(100deg, $grad2, $grad1 20%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    &:first-child {
      margin-top: 0.5rem;
      padding-top: 0;
    }
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        width: #{75% - $i * 5%};
      }
    }

    .mi-title {
      font-size: 1.5rem;
      font-weight: bold;

      &::after {
        content: '>>';
        float: right;
      }
    }

    .mi-describe {
      display: block;
      padding-top: 0.5rem;
      padding-left: 1.4rem;
      border-top: thin dotted hsla(0, 0%, 0%, 0.55);

      &::after {
        content: '--------';
        float: right;
      }
    }

    &:hover {
      color: hsla(190, 100%, 50%, 0.6);
    }
  }
}
#project-info {
  margin-top: -1rem;

  .include-icon {
    display: inline-block;
    margin: 0.25rem;

    svg {
      width: auto;
      height: 1.5rem;
      opacity: 0.5;
    }

    span {
      &:last-child {
        display: none;
      }
    }
  }
}

.articles-wrapper {
  width: 60%;
  height: 100%;
  position: absolute;
  left: 55%;
}

$article-height: 7rem;
$count: 4;
#articles {
  list-style-type: none;
  width: 120%;
  max-height: $article-height * $count + $article-height / 2 * $count;
  position: absolute;
  top: -10%;
}

.article {
  margin: ($article-height / 2) 0;
  width: 100%;
  height: 7rem;
  background: linear-gradient(-45deg, $grad2, $grad1 50%);
  border-top: thin solid $decorate;
  border-left: thin solid $decorate;
  border-radius: 0.5rem;
  position: relative;
  opacity: 0.5;
  -webkit-mask: linear-gradient(45deg, transparent 1.5rem, black 1.5rem);

  &:nth-child(n+5) {
    display: none;
  }

  .article-title {
    font-family: Daville;
    margin: 0.5rem 0;
    padding: 0.5rem 2rem;

    &::after {
      transform: skewX(45deg);
      content: '';
      display: none;
      width: 100%;
      border-bottom: medium solid $decorate;
      position: absolute;
      top: 35%;
    }

    &:hover::after {
      display: block;
    }
  }

  a {
    text-decoration: none;
    color: hsla(0, 0%, 0%, 1);
    transition: color 0.25s;

    &:visited {
      color: hsla(0, 0%, 0%, 1);
    }
    &:hover {
      color: $decorate;
    }
  }
}

.articles-widget-wrapper {
  list-style-type: none;
  position: absolute;
  top: -10%;
  left: 50%;
  opacity: 0.5;

  li {
    position: absolute;
    left: 1rem;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        top: #{$article-height / 2 + ($i - 1) * ($article-height + $article-height / 2)};
      }
    }

    .btn-m {
      cursor: context-menu;
      margin: 0.25rem;
      width: 2rem;
      height: 2rem;
      position: relative;

      span {
        display: inline-block;
        width: 1.5rem;
        height: 0.125rem;
        background: hsla(0, 0%, 0%, 1);
        border-radius: 1px;
        position: absolute;
        transition: left 0.25s;

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            top: #{$i * 0.5rem};
            left: #{$i * 0.125rem};
          }
        }
      }

      &:hover {
        span {
          left: 0.5rem;
        }
      }
    }
  }
}

$nav-base-height: 0.5rem;
%arrow-arm {
  content: '';
  display: inline-block;
  width: 1rem;
  height: $nav-base-height;
  background: linear-gradient(var(--dir, 180deg), black, transparent);
}

#navigator {
  cursor: pointer;
  width: 10%;
  position: absolute;
  top: 90%;
  left: 45%;

  span {
    opacity: 0.5;

    &:first-child {
      &::before {
        transform: skewY(-45deg);
        @extend %arrow-arm;
        --dir: 180deg;
      }
      &::after {
        transform: skewY(45deg);
        @extend %arrow-arm;
        --dir: 180deg;
      }

      &:hover::before, &:hover::after {
        box-shadow: 0 0 0.5rem 0 hsla(0, 0%, 0%, 0.5);
      }
    }
    &:nth-child(2) {
      display: inline-block;
      width: $nav-base-height;
      height: $nav-base-height;
      background: radial-gradient(black #{$nav-base-height / 4}, transparent #{$nav-base-height / 4});
      border-radius: 50%;
      pointer-events: none;
    }
    &:last-child {
      &::before {
        transform: skewY(45deg);
        @extend %arrow-arm;
        --dir: 0;
      }
      &::after {
        transform: skewY(-45deg);
        @extend %arrow-arm;
        --dir: 0;
      }

      &:hover::before, &:hover::after {
        box-shadow: 0 0 0.5rem 0 hsla(0, 0%, 0%, 0.5);
      }
    }
  }

  *:hover {
    opacity: 0.75;
  }
}

#social {
  margin: -3% -15%;
  position: absolute;
  top: 100%;
  left: 100%;

  span {
    display: none;
  }
}

.link--social {
  font-size: 1.5rem;
  text-decoration: none;
  color: #4f4f64;
	margin: 0 0.75em;
}

.link--social:hover,
.link--social:focus {
	color: #5c5edc;
}

