
// timeline
$line-width: 0.25rem;
$line-color: hsla(180, 80%, 45%, 1);
$stamp-height: 6rem;
#timeline {
  list-style-type: none;
  padding: 1rem;
  width: 30%;
  height: 100%;
  position: absolute;
  transition: -webkit-filter 0.5s, top 0.5s, left 0.5s;

  li {
    width: 100%;
    height: $stamp-height;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      transform: skewY(45deg);
      width: $line-width;
      height: 100%;
      background: $line-color;
      position: absolute;
      z-index: 5;
      transform-origin: 100% 0%;
    }

    &::after {
      content: '';
      display: inline-block;
      margin: 0 #{-2 * $line-width + $line-width / 2};
      width: 1rem;
      height: 1rem;
      background: white;
      border: 0.25rem solid $line-color;
      position: absolute;
      top: #{$stamp-height - $line-width * 2};
      z-index: 10;
      transform-origin: 50% 50%;
      transform: rotate3d(0, 0, 1, 45deg);
    }

    p {
      cursor: pointer;
      font-family: Proxima Nova;
      font-size: 1.1rem;
      margin: 0;
      margin-top: #{-4px};
      padding: 0 2rem;
      border-bottom: thin dashed $line-color;
      position: absolute;
      top: $stamp-height - 1rem;
      opacity: 0.7;
      transition: background 0.25s;

      &:hover {
        background: lighten($line-color, 20%);
      }
    }
  }
}

.timeline--bg {
  top: 12%;
  left: 15%;
}

.timeline--surface {
  top: 10%;
  left: 10%;
}

// works
$project-height: 14rem;
#works {
  list-style-type: none;
  width: 25%;
  position: absolute;
  transition: -webkit-filter 0.5s, top 0.5s, left 0.5s;

  .project {
    padding-bottom: 2rem;
    width: 100%;
    height: $project-height;
    border-bottom: thin dashed hsla(0, 0%, 25%, 1);
    position: absolute;
    top: var(--project-top, 0);
    overflow: hidden;
    z-index: var(--project-z, 3);
    transition: height 0.3s;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        --project-top: #{($i - 1) * $project-height};
        --project-z: #{3 - $i};
      }
    }

    .project-title {
      width: 100%;

      h2 {
        font-family: Proxima Nova;
        color: hsla(0, 0%, 40%, 1);
        margin: 0;
        width: 40%;
      }

      p {
        font-family: Lato;
        color: hsla(0, 0%, 50%, 1);
        margin: 0.5rem 0;
      }
    }

    .project-image {
      width: 100%;
      height: 80%;
      background: url("https://www.w3schools.com/css/img_lights.jpg");
      border-radius: 1rem;
    }

    .overlay {
      @include overlay-more(white, 100%);
    }
  }
}

.works--bg {
  top: 10%;
  left: 15%;
}

.works--surface {
  top: 5%;
  left: 10%;
}

// about
#about {
  font-family: Proxima Nova;
  color: hsla(0, 0%, 0%, 0.55);
  position: absolute;
  transition: -webkit-filter 0.5s, top 0.5s, left 0.5s, font-size 0.5s;
}

.about--bg {
  font-size: 2.5rem;
  top: 40%;
  left: 12%;
}

.about--surface {
  font-size: 1.5rem;
  top: 30%;
  left: 10%;
}

