
body {
  overflow: hidden;
}

#layer {
  width: 100%;
  height: 100%;
  position: absolute;
}

$left: 40%;
$stripe-color: hsla(0, 0%, 25%, 0.2);
#cover {
  transform: skewX(-10deg);
  width: 100%;
  height: 100%;
  border-left: thin solid hsla(0, 0%, 80%, 1);
  position: absolute;
  left: $left;
  overflow: hidden;

  .stripes {
    transform: skewX(10deg);
    width: 200%;
    height: 100%;
    background: linear-gradient(-45deg, $stripe-color 5.56%, transparent 5.56%, transparent 50%, $stripe-color 50%, $stripe-color 55.56%, transparent 55.56%, transparent 100%);
    background-size: 11px 11px;
    position: absolute;
    left: -50%;
  }
}

$size: 70%;
.edge-button {
  position: absolute;

  &:first-child {
    top: (100% - $size) / 2;
  }
  &:last-child {
    top: (100% - $size) / 2 + $size;
    margin: (elementSize(tag-button-size) * -1 - 6px) 0;
  }
}

.flat-button {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.tag-button {
  margin: 0 32px;
  z-index: 10;

  svg {
    fill: #5f656f;
    stroke: #5f656f;
    stroke-width: 10;
    width: elementSize(tag-button-size);
    height: elementSize(tag-button-size);
  }
}

.tags {
  padding: 0 6rem;
  width: 30%;
  height: 12rem;
  background: hsla(0, 0%, 50%, 0.1);
  border-top: thin solid hsla(0, 0%, 50%, 1);
  border-bottom: thin solid hsla(0, 0%, 50%, 1);
  position: absolute;
  top: 700px;
  left: -30%;
  z-index: 5;
  -webkit-mask: linear-gradient(90deg, black 80%, transparent 100%);
  transition: left 0.25s;

  .tag {
    display: inline-block;
    cursor: pointer;
    font-family: Lato;
    color: hsla(0, 0%, 25%, 1);
    margin: 1.8rem 0;
    width: 20%;
    opacity: 0;
    transition: opacity 1s;

    &::before {
      content: '#';
    }
  }
}
.tags--open {
  left: 0;
}
.tags .tag--open {
  opacity: 1;
}

.menu-button {
  margin: 8px 32px;
  width: elementSize(menu-button-width);
  height: elementSize(menu-button-height);
}

.menu-button::before,
.menu-button::after,
.menu-button span {
  margin-left: elementSize(menu-button-width) * -0.5;
	background: #5f656f;
}

.menu-button::before,
.menu-button::after {
	content: '';
	position: absolute;
	top: 50%;
	width: 100%;
	height: elementSize(menu-button-bar);
	pointer-events: none;
	transition: transform 0.25s;
	transform-origin: 50% 50%;
}

.menu-button span {
	position: absolute;
	text-indent: 100%;
	width: 100%;
	height: elementSize(menu-button-bar);
	overflow: hidden;
	transition: opacity 0.25s;
}

.menu-button::before {
	transform: translate3d(0, -(elementSize(menu-button-height) / 2), 0) scale3d(0.8, 1, 1);
}

.menu-button::after {
	transform: translate3d(0, (elementSize(menu-button-height) / 2), 0) scale3d(0.8, 1, 1);
}

.menu-button--open::before {
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button--open::after {
	transform: rotate3d(0, 0, 1, -45deg);
}

.menu-button--open span {
	opacity: 0;
}

#groove {
  width: $size;
  height: $size;
  position: absolute;
  top: (100% - $size) / 2;
  left: (100% - $size) / 2;
}

.menu-wrapper {
  font-family: Lato;
  width: 45%;
  position: absolute;
  top: 10%;
  left: -5%;

  h1 {
    font-size: 1.9rem;
    line-height: 1;
    text-align: right;
    margin-top: 0;
    padding: 0.5rem 0;
    width: 100%;
    background: linear-gradient(100deg, #8e54e9, #4776e6 20%);
    border-bottom: thin solid hsla(0, 0%, 50%, 1);
    position: absolute;
    left: -115%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-mask: linear-gradient(-135deg, black 60%, transparent 80%);
    transform-origin: 100% 0%;
    transform: rotate3d(0, 0, 1, -90deg);
  }

  .menu-item {
    display: block;
    margin: 5rem 0;
    border-radius: 0.75rem;
    transition: background 0.25s;

    &:first-child {
      margin-top: 0.5rem;
    }
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        width: #{65% - $i * 5%};
      }
    }

    a {
      @include simple-link(hsla(0, 0%, 0%, 0.55), hsla(0, 0%, 0%, 0.9));
    }

    span {
      &:first-child {
        font-size: 1.5rem;
        font-weight: bold;
      }

      &:last-child {
        display: block;
        padding-top: 0.5rem;
        padding-left: 1.4rem;
        border-top: thin solid hsla(0, 0%, 0%, 0.55);
      }
    }

    &:hover {
      a {
        color: hsla(0, 0%, 0%, 0.9);
      }
    }
  }
}

.articles-wrapper {
  width: 60%;
  height: 100%;
  position: absolute;
  left: 55%;
}

$article-height: 7rem;
$count: 4;
#articles {
  list-style-type: none;
  width: 120%;
  max-height: $article-height * $count + $article-height / 2 * $count;
  position: absolute;
  top: -10%;
  overflow: hidden;
}

.article {
  margin: ($article-height / 2) 0;
  width: 100%;
  height: 7rem;
  background: linear-gradient(-45deg, #4776e6, #8e54e9 50%);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  opacity: 0.5;
  -webkit-mask: linear-gradient(45deg, transparent 3%, black 3%);

  .article-title {
    font-family: Daville;
    margin: 0.5rem 0;
    padding: 0.5rem 2rem;

    &::after {
      transform: skewX(45deg);
      content: '';
      display: none;
      width: 100%;
      border-bottom: medium solid hsla(190, 100%, 50%, 1);
      position: absolute;
      top: 35%;
    }

    &:hover::after {
      display: block;
    }
  }

  a {
    @include simple-link(hsla(0, 0%, 0%, 1), hsla(190, 100%, 50%, 1));
  }
}

$nav-base-height: 0.5rem;

%arrow-arm {
  content: '';
  display: inline-block;
  width: 1rem;
  height: $nav-base-height;
  background: linear-gradient(var(--dir, 180deg), black, transparent);
}

#navigator {
  cursor: pointer;
  width: 10%;
  position: absolute;
  top: 90%;
  left: 45%;

  span {
    opacity: 0.5;

    &:first-child {
      &::before {
        transform: skewY(-45deg);
        @extend %arrow-arm;
        --dir: 180deg;
      }
      &::after {
        transform: skewY(45deg);
        @extend %arrow-arm;
        --dir: 180deg;
      }

      &:hover::before, &:hover::after {
        box-shadow: 0 0 0.5rem 0 hsla(0, 0%, 0%, 0.5);
      }
    }
    &:nth-child(2) {
      display: inline-block;
      width: $nav-base-height;
      height: $nav-base-height;
      background: radial-gradient(black #{$nav-base-height / 4}, transparent #{$nav-base-height / 4});
      border-radius: 50%;
      pointer-events: none;
    }
    &:last-child {
      &::before {
        transform: skewY(45deg);
        @extend %arrow-arm;
        --dir: 0;
      }
      &::after {
        transform: skewY(-45deg);
        @extend %arrow-arm;
        --dir: 0;
      }

      &:hover::before, &:hover::after {
        box-shadow: 0 0 0.5rem 0 hsla(0, 0%, 0%, 0.5);
      }
    }
  }

  *:hover {
    opacity: 0.75;
  }
}

#social {
  margin: -3% -15%;
  position: absolute;
  top: 100%;
  left: 100%;

  span {
    display: none;
  }
}

.link--social {
  font-size: 1.5rem;
  text-decoration: none;
  color: #4f4f64;
	margin: 0 0.75em;
}

.link--social:hover,
.link--social:focus {
	color: #5c5edc;
}
