
#tag-list {
  list-style-type: none;
  float: right;
  margin-right: -100%;
  width: elementSize(tag-list-width);
  height: auto;
  border-right: medium solid borderColor(tag-list);
  transition: all #{ 1200 * $durationMulti }ms ease-out;
}

.tag-item {
  display: inline-block;
  float: right;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
  width: auto;
  height: auto;
  background-image: bgColor(tag-button);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: -35vw;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 0.5rem 0.2rem black;
  opacity: 0.9;
  position: relative;
  animation: 1.6s ease-out 0s raySweep;
  transition: all #{ 800 * $durationMulti }ms ease-out,
    background-position #{ 800 * $durationMulti }ms ease-out;

  &:hover {
    background-position: -42vw;
    label {
      color: fontColor(tag-button-hover);
    }
  }
  
  .tag-item-input {
    display: none;
  }
  
  label {
    font-family: Lato;
    font-size: elementSize(tag-item-font);
    line-height: elementSize(tag-item-line);
    color: fontColor(tag-button);
    padding: 0 1rem;
    transition: all #{ 200 * $durationMulti }ms ease-out;
  }
}

@keyframes raySweep {
  from { background-position: 0; }
  to { background-position: -35vw; }
}

