
#tag-list {
  list-style-type: none;
  float: right;
  margin-right: -100%;
  width: elementSize(tag-list-width);
  height: auto;
  transition: all #{ 1200 * $durationMulti }ms ease-out;
}

.tag-item {
  display: inline-block;
  float: right;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
  width: auto;
  height: auto;
  background-image: bgColor(tag-button);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: 0;
  border-radius: 0.2rem;
  opacity: 0.9;
  position: relative;
  transition: all #{ 800 * $durationMulti }ms ease-out,
    background-position #{ 2400 * $durationMulti }ms ease-out;

  &:hover {
    background-image: bgColor(tag-button-hover);
    label {
      color: fontColor(tag-button-hover);
    }
  }
  
  .tag-item-input {
    display: none;
  }
  
  label {
    font-family: Lato;
    text-transform: uppercase;
    font-size: elementSize(tag-item-font);
    line-height: elementSize(tag-item-line);
    color: fontColor(tag-button);
    padding: 0 1rem;
    transition: all #{ 200 * $durationMulti }ms ease-out;
  }
}

