
#tag-list {
  list-style-type: none;
  float: right;
  width: auto;
  max-width: 65%;
  height: auto;
  overflow: hidden;
}

.tag-item {
  display: inline-block;
  float: right;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
  width: auto;
  height: auto;
  background-image: bgColor(tag-button-before), bgColor(tag-button);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: 60vw 0;
  border-radius: 0.5rem;
  position: relative;
  transition: background-position 800ms ease-out;

  &:hover {
    background-image: bgColor(tag-button-hover);
    label {
      color: fontColor(tag-button-hover);
    }
  }
  
  .tag-item-input {
    display: none;
  }
  
  label {
    font-family: Lato;
    text-transform: uppercase;
    font-size: $tag-item-font-size;
    line-height: $tag-item-height;
    color: fontColor(tag-button);
    padding: 0 1rem;
  }
}

