
#article-list {
  list-style-type: none;
  padding: 1rem;
  width: elementSize(article-list-width);
  height: 100%;
  background-color: bgColor(slider);
  position: relative;
}

.article-item {
  margin-bottom: 2rem;
  width: elementSize(article-item-width);
  height: elementSize(article-item-height);
  background-image: bgColor(article-item);
  position: relative;
  overflow: visible;
  transition: all #{ 800 * $durationMulti }ms ease-out;

  .article-shortcut {
    width: 1.5rem;
    height: 1.5rem;
    border-right: thin solid borderColor(article-shortcut);
    border-bottom: thin solid borderColor(article-shortcut);
    
    i {
      display: block;
      text-align: center;
      font-size: 1rem;
      line-height: 1.5;
      color: fontColor(article-shortcut);
    }
  }
  
  .article-info h3 {
    font-family: Daville;
    margin: -2rem 2rem;
    position: absolute;
    top: 100%;
    
    a {
      @include simple-link(fontColor(article-title), fontColor(article-title-hover));
    }
  }
}

