
#card-list {
  list-style-type: none;
  padding: 0.2rem 0.4rem;
  width: elementSize(card-list-width);
  background-color: bgColor(slider);
  position: relative;
}

.card-item {
  transform: translate3d(0, 0, 0);
  margin: thin 0;
  width: elementSize(card-item-width);
  height: elementSize(card-item-height);
  // @include show-border();
  opacity: 0.2;
  position: relative;
  overflow: hidden;
  transition:
    top #{ 400 * $durationMulti }ms ease-out,
    transform #{ 400 * $durationMulti }ms ease-out,
    opacity #{ 400 * $durationMulti }ms ease-out
  ;
  
  img {
    width: 100%;
    height: auto;
    position: absolute;
  }
  
  .card-context {
    position: absolute;
    
    a {
      @include simple-link(fontColor(card-title), fontColor(card-title-hover));
    }
  }
}

