
#card-list {
  list-style-type: none;
  padding: 0.2rem 1rem;
  width: elementSize(card-list-width);
  background-color: bgColor(slider);
  position: relative;
}

.card-item {
  transform: translate3d(0, 0, 0);
  margin: 1px 0;
  width: elementSize(card-item-width);
  height: elementSize(card-item-height);
  // @include show-border();
  opacity: 0.2;
  position: relative;
  overflow: hidden;
  transition:
    top #{ 400 * $durationMulti }ms ease-out,
    transform #{ 400 * $durationMulti }ms ease-out,
    opacity #{ 400 * $durationMulti }ms ease-out
  ;
}

