
// Example of including mixin:
// @include media-query($on-palm) {
  
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin show-border() {
  border: medium solid grey;
}

@mixin simple-link($normal, $hover) {
  text-decoration: none;
  color: $normal;
  transition: all #{ 400 * $durationMulti }ms ease-out;
  
  &:link {
    color: $normal;
  }
  &:visited {
    color: $normal;
  }
  &:hover {
    color: $hover;
  }
  &:active {
    color: $normal;
  }
}

