
html, body {
  height:100%;
}

#page-header {
  width: 80%;
  height: 4rem;
  border-bottom: thin solid hsla(0, 0%, 0%, 0.15);
}

#page-main {
  padding: 3rem 5rem;
  width: 80%;
  height: 100%;

  nav {
    span {
      font-family: Lato;
      font-size: 0.9rem;
      opacity: 0.55;

      a {
        text-decoration: none;
      }

      &::after {
        content: ' /';
      }
      &:last-child::after {
        content: '';
      }
    }
  }

  .post-header {
    font-family: Proxima Nova;
    border-bottom: thin solid hsla(0, 0%, 0%, 0.4);

    * {
      display: inline-block;
    }

    .post-title {
      font-size: 1.8rem;
      color: hsla(0, 0%, 0%, 0.55);
    }

    .post-meta {
      font-size: 0.9rem;
      color: hsla(0, 0%, 0%, 0.55);
    }
  }

  .post-content {
    font-family: Helvetica;
    font-size: 0.9rem;
    line-height: 2;
    color: hsla(0, 0%, 0%, 0.75);
    text-indent: 1rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 10%;
  }
}

#search {
  color: hsla(0, 0%, 0%, 0.55);
  fill: hsla(0, 0%, 0%, 0.45);
  width: 20%;
  height: 4rem;
  border-left: thin solid hsla(0, 0%, 0%, 0.15);
  border-bottom: thin solid hsla(0, 0%, 0%, 0.15);
  position: fixed;
  top: 0%;
  left: 80%;

  * {
    display: inline-block;
  }

  svg {
    float: left;
    margin: 1rem;
    width: 2rem;
    height: 2rem;
  }

  input {
    font-family: Roboto;
    font-size: 1rem;
    line-height: 4;
    font-weight: 600;
    color: hsla(0, 0%, 0%, 0.55);
    width: 80%;
    cursor: text;
    background: transparent;
    border: none;
    outline: none;
  }
}

#outline {
  width: 20%;
  height: 100%;
  border-left: thin solid hsla(0, 0%, 0%, 0.15);
  position: fixed;
  top: 4rem;
  left: 80%;
}

