
html, body {
  height:100%;
}

$line-color: hsla(0, 0%, 0%, 0.15);
$left: 80%;
$height: 4 * 16px;
#page-header {
  padding: ($height / 2) ($height / 2);
  width: $left;
  height: $height * 2;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: inline-block;
    margin-top: -1px;
    margin-left: -$height - 1px - ($height / 2);
    width: 100%;
    height: 0;
    border-bottom: thin solid $line-color;
    position: absolute;
    top: $height * 2;
  }

  &::after {
    content: '';
    display: inline-block;
    margin-left: -$height * 2;
    width: $height * 2;
    height: $height * 2;
    border-bottom: thin solid $line-color;
    position: absolute;
    top: -$height;
    left: 100%;
    transform-origin: 100% 100%;
    transform: rotate3d(0, 0, 1, -45deg);
  }
}

header {
  font-family: Proxima Nova;

  .post-title {
    font-size: 1.8rem;
    color: hsla(0, 0%, 0%, 0.55);
  }

  .post-meta {
    font-size: 0.9rem;
    color: hsla(0, 0%, 0%, 0.55);
    margin-top: -0.5rem;
  }
}

#page-main {
  padding: 3rem 4rem;
  width: $left;
  height: 100%;

  nav {
    span {
      font-family: Lato;
      font-size: 0.9rem;

      * {
        opacity: 0.9;
      }

      $color: #4776e6;
      a {
        &:link {
          color: $color;
        }
        &:visited {
          color: $color;
        }
        &:hover {
          color: $color;
          text-decoration: underline;
          opacity: 1;
        }
        &:active {
          color: $color;
        }
        text-decoration: none;
      }

      &::after {
        content: ' >';
        opacity: 0.8;
      }
      &:last-child {
        opacity: 0.55;

        &::after {
          content: '';
        }
      }
    }
  }

  .post-content {
    font-family: Helvetica;
    font-size: 0.9rem;
    line-height: 2;
    color: hsla(0, 0%, 0%, 0.6);
    text-indent: 1rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 15%;
    height: 100vh;

    .intro {
      color: hsla(0, 0%, 0%, 0.62);
      text-indent: 0;
      padding-left: 0.5rem;
    }

    span {
      color: hsla(0, 0%, 0%, 0.4);
      margin-left: -1.5rem;
      margin-right: 0.5rem;
    }

    h2 {
      display: inline-block;
      font-family: Roboto;
      font-size: 1.3rem;
      color: hsla(0, 0%, 0%, 0.5);
      text-decoration: underline;
      text-indent: 0;
      margin-bottom: 0;
    }
  }
}

#search {
  color: hsla(0, 0%, 0%, 0.55);
  fill: hsla(0, 0%, 0%, 0.45);
  width: 100% - $left;
  height: 4rem;
  border-left: thin solid $line-color;
  border-bottom: thin solid $line-color;
  position: fixed;
  top: 0%;
  left: $left;

  * {
    display: inline-block;
  }

  svg {
    float: left;
    margin: 1rem;
    width: 2rem;
    height: 2rem;
  }

  input {
    font-family: Roboto;
    font-size: 1rem;
    line-height: 4;
    font-weight: 600;
    color: hsla(0, 0%, 0%, 0.55);
    width: 80%;
    cursor: text;
    background: transparent;
    border: none;
    outline: none;
  }
}

#outline {
  margin-left: -$height - 1px;
  width: 100% - $left;
  height: 100%;
  position: fixed;
  top: $height;
  left: $left;
  overflow: hidden;

  &::before {
    content: '';
    display: inline-block;
    margin-top: $height;
    width: 0;
    height: 100%;
    border-left: thin solid $line-color;
    position: absolute;
  }
}

.corner {
  &::after {
    content: '';
    display: inline-block;
    margin-top: -$height + 1px;
    width: $height * 2;
    height: $height * 2;
    border-bottom: thin solid $line-color;
    position: absolute;
    transform-origin: 0 100%;
    transform: rotate3d(0, 0, 1, -45deg);
  }
}

