
body {
  overflow: hidden;
}

#main-frame {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 0;
  
  #nav-slider {
    padding: 10vh 0; // percentage uses parent's width
    width: elementSize(nav-width);
    height: 100%;
    position: absolute;
    left: elementSize(nav-width);
    transition: all #{ 800 * $durationMulti }ms ease-out;
    z-index: 5;
    
    #nav-menu {
      margin-left: 18%;
      width: 100%;
      height: 100%;
      background-color: bgColor(nav);
      z-index: 10;
    }
  }
  
  #board-slider {
    width: 100%;
    height: 100%;
    background-color: darken(bgColor(slider), 10%);
    position: absolute;
    transition: all #{ 800 * $durationMulti }ms ease-out;
    z-index: 10;
    
    #board-content {
      width: elementSize(board-content-width);
      height: 100%;
      position: relative;
      // border: medium solid grey;
      left: elementSize(nav-width) / 2;
      transition: all #{ 800 * $durationMulti }ms ease-out;
      
      #tag-pool {
        width: elementSize(tag-pool-width);
        height: auto;
        border-right: medium solid borderColor(tag-pool);
        // it seems height:auto needs position:relative elements have something below them
        position: absolute;
      }
    }
  }
}


