
body {
  overflow: hidden;
}

#main-frame {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 0;
  
  #nav-bar {
    margin-top: 10vh;
    margin-left: 2.5%;
    width: elementSize(nav-width);
    min-height: elementSize(nav-height);
    background-color: bgColor(nav);
    position: absolute;
    left: elementSize(nav-width);
    transition: transform 800ms ease-out;
    z-index: 5;
    
    
  }
  
  #board-slider {
    width: 100%;
    height: 100%;
    background-color: bgColor(slider);
    position: absolute;
    transition: all 800ms ease-out;
    z-index: 10;
    
    #board-content {
      width: elementSize(board-content-width);
      height: 100%;
      position: relative;
      left: elementSize(nav-width) / 2;
      transition: all 800ms ease-out;
      
      #tag-pool {
        width: elementSize(tag-pool-width);
        height: auto;
        border-right: medium solid borderColor(tag-pool);
        // lose height:auto if use position:relative
        position: absolute;
      }
    }
  }
}


