
body {
  overflow: hidden;
}

#main-frame {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 0;
  
  #nav-bar {
    margin-top: 10vh;
    margin-left: 3rem;
    width: 20%;
    min-height: 80%;
    background-color: map-get($bgColor, nav);
    position: absolute;
    top: 0;
    left: 20%;
    transition: transform 800ms ease-out;
    z-index: 5;
    
    
  }
  
  #board-slider {
    width: 100%;
    height: 100%;
    background-color: map-get($bgColor, slider);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 800ms ease-out;
    z-index: 10;
    
    #board-content {
      width: 80%;
      height: 100%;
      position: relative;
      
      #tag-pool {
        width: 50%;
        height: auto;
        border-right: medium solid grey;
        position: absolute;
        top: 50%;
        left: 0;
      }
    }
  }
}


