---
layout: default
---
<div id="main-frame">

  <nav id="nav-bar">
    
  </nav>
  
  <div id="board-slider">
    <div id="board-content">

      <div id="tag-pool">
        <ul id="tag-items">
          <li class="tag-item">
            <button class="tag-item-button">
              <i class="tag-item-icon icon icon-reply"></i>
            </button>
          </li>
          <li class="tag-item">
            <button class="tag-item-button">
              <i class="tag-item-icon icon icon-box"></i>
            </button>
          </li>
          <li class="tag-item">
            <button class="tag-item-button">
              <i class="tag-item-icon icon icon-trash"></i>
            </button>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
  
</div><!-- /main-frame -->

<!--<script src="/js/TweenMax.min.js"></script>-->
<script src="/js/effect_sidebar.js"></script>
<script src="/js/effect_tags.js"></script>
