---
layout: default
---
<div id="main-frame">

  <nav id="nav-slider">
  
    <menu id="nav-menu">
      
    </menu>
    
  </nav>
  
  <div id="board-slider">
    <div id="board-content">

      <div id="tag-pool">
        <ul id="tag-list">
          <li class="tag-item">
            <input type="checkbox" class="tag-item-input" id="tag-all"></input>
            <label for="tag-all">*</label>
          </li>
          <li class="tag-item">
            <input type="checkbox" class="tag-item-input" id="tag-maxscript"></input>
            <label for="tag-maxscript">Maxscript</label>
          </li>
          <li class="tag-item">
            <input type="checkbox" class="tag-item-input" id="tag-gmod"></input>
            <label for="tag-gmod">Garry's Mod</label>
          </li>
          <li class="tag-item">
            <input type="checkbox" class="tag-item-input" id="tag-chrome"></input>
            <label for="tag-chrome">Chrome Extension</label>
          </li>
          <li class="tag-item">
            <input type="checkbox" class="tag-item-input" id="tag-life"></input>
            <label for="tag-life">Life</label>
          </li>
          <li class="tag-item">
            <input type="checkbox" class="tag-item-input" id="tag-tutorial"></input>
            <label for="tag-tutorial">Tutorial</label>
          </li>
        </ul>
      </div>
      
      <div id="card-pool">
        <ul id="card-list">
          <li class="card-item">
          </li>
          {% for post in site.posts %}
            <li class="card-item">
              <img src={{ post.cover }} width="100%" height="auto"></img>
            </li>
          {% endfor %}
        </ul>
      </div>
      
    </div>
  </div>

</div>


<script src="/js/sidebar.js"></script>
<script src="/js/canvas.js"></script>
<script src="/js/canvas_draw.js"></script>
