---
layout: default
---
<!-- centered list items pad from center, leave it -->
<div class="page-content-margin"></div>

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <div class="post-list-item-wrapper">
<!--
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <span class="post-meta">{{ post.date | date: "%B %dth - %Y" }}</span>
-->
      </div>
    </li>
  {% endfor %}
</ul>

{% include buttons.html %}

<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
