<!DOCTYPE html>
<html lang="en">

  {% include head.p1.html %}
  {% include head.p2b.html %}

  <body>

    <article itemscope itemtype="http://schema.org/BlogPosting">

      <header id="page-header">

        <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
        <p class="post-meta">
          <i class="far fa-clock"></i>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %dth - %Y" }}</time>
          <span class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">by: {{ site.author }}</span>
        </p>

      </header>

      <div id="page-main">

        <nav>
          <span><a href="/">Home</a></span>
          <span><a href="#">Posts</a></span>
          <span>this article</span>
        </nav>
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>

      </div>

    </article>

    <div id="search">
      {% include icon-search.svg %}
      <input type="search" placeholder="Search">
    </div>
    <div id="outline">
    </div>

    <script src="/js/page.js"></script>

  </body>

</html>

